@{
    ViewBag.Title = "OAuth2 REST Web API";
}

<div class="jumbotron">
    <h1>OAuth 2.0 Web API Authorization</h1>
    <p class="lead">This is web API project for Web API authorization using OAuth 2.0 and Database First Approach.</p>
</div>